##
# Copyrights:  2025 Codoworks.com
# Author:      Dexter Codo
# Website:     https://dexterexplains.com 
# Contact:     hello@dexterexplains.com
# Project:     Kubernetes Installer
##

# SINGLE MASTER NODE AS INITIALIZER ----------------------------------------------------------
# PLAYBOOK CONFIG ----------------------------------------------------------------------------
- hosts: initializing_master_node
# - hosts: test_nodes
  become: true
  gather_facts: true

  # VAR PROMPTS ------------------------------------------------------------------------------

  # vars_prompt:
  #  - name: "var_name" 
  #    prompt: "User prompt? change me..."
  #    private: false # should this be visible or hidden like a password
     
  # TASKS ------------------------------------------------------------------------------------
  tasks:
  
  # PRE-FLIGHT CHECKS ------------------------------------------------------------------------
  - name: Pre-flight check, fail if OS is not Ubuntu.
    when: ansible_distribution != "Ubuntu" and ansible_distribution != "RedHat"
    fail:
      msg: "This script is designed for Ubuntu"

  # PRE-CONFIG -------------------------------------------------------------------------------
  - name: Whoami on the node?
    become: false
    shell: whoami
    register: node_username_raw

  - name: Set whoami on the node as a fact.
    set_fact:
      node_username: "{{ node_username_raw.stdout_lines[0] }}"

# BEGIN ------------------------------------------------------------------------------------
  - name: Create an empty Kubeadm config file.
    copy:
      content: ""
      dest: /etc/kubernetes/kubeadm-config.yaml
      force: false
      
  - name: Configuring the container runtime including its cgroup driver.
    blockinfile:
      path: /etc/kubernetes/kubeadm-config.yaml
      block: |
            kind: ClusterConfiguration
            apiVersion: kubeadm.k8s.io/v1beta4
            networking:
              podSubnet: "{{ pod_network_cidr}}"
              serviceSubnet: "{{ k8s_svc_network_cidr }}"
            controlPlaneEndpoint: "{{ control_plane_endpoint }}:6443"
            ---
            kind: KubeletConfiguration
            apiVersion: kubelet.config.k8s.io/v1beta1
            runtimeRequestTimeout: "15m"
            tlsCipherSuites:
              - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
              - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
              - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
            cgroupDriver: "systemd"
            systemReserved:
              cpu: 100m
              memory: 350M
            kubeReserved:
              cpu: 100m
              memory: 50M
            enforceNodeAllocatable:
            - pods

  - name: Create logs folder
    become: false
    file:
      path: "/home/{{ node_username }}/logs"
      state: directory

  - name: Initialize a Kubernetes cluster.
    shell: kubeadm init --config /etc/kubernetes/kubeadm-config.yaml --upload-certs >> /home/{{ node_username }}/logs/cluster_initialized.log
    args:
      chdir: "/home/{{ node_username }}"
      creates: logs/cluster_initialized.log
  
  - name: Create $HOME/.kube directory.
    file:
      path: "/home/{{ node_username }}/.kube"
      state: directory
      mode: 0755
  
  - name: Add kube config to $HOME/.kube directory.
    copy:
      src: /etc/kubernetes/admin.conf
      dest: "/home/{{ node_username }}/.kube/config"
      remote_src: true
      owner: "{{ node_username }}"
  
  - name: Fetch kube config file to local control workstation.
    fetch: 
      fail_on_missing: true
      flat: true
      src: "/home/{{ node_username }}/.kube/config"
      dest: "{{ playbook_dir + '/temp/config' }}"
  
  - name: Update pods CIDR on calico manifests file
    shell: |
      curl -sO https://raw.githubusercontent.com/projectcalico/calico/{{ calico_version }}/manifests/calico.yaml
      sed -i 's|# - name: CALICO_IPV4POOL_CIDR|- name: CALICO_IPV4POOL_CIDR|g; s|#   value: "192.168.0.0/16"|  value: "'"{{ pod_network_cidr }}"'"|g' calico.yaml

  - name: Update pods CIDR on calico manifests file
    when: azure
    shell: |
      sed -i '/- name: CALICO_IPV4POOL_IPIP/,+1 s/value:.*/value: "Never"/' calico.yaml
      sed -i '/- name: CALICO_IPV4POOL_VXLAN/,+1 s/value:.*/value: "Always"/' calico.yaml

  - name: Install Calico pod network.
    become: true
    become_user: "{{ node_username }}"
    shell: "kubectl apply -f calico.yaml >> /home/{{ node_username }}/logs/pod_network_setup.log"
    args:
      chdir: "/home/{{ node_username }}"
      creates: pod_network_setup.log

  - name: Create workers join command.
    shell: kubeadm token create --print-join-command
    register: workers_join_command_raw

  - name: Set workers join command as a fact.
    set_fact:
      worker_join_command: "{{ workers_join_command_raw.stdout_lines[0] }}"

  - name: Create master join command
    shell: kubeadm token create --print-join-command --certificate-key $(kubeadm init phase upload-certs --upload-certs | tail -1)
    register: master_join_command_raw

  - name: Set Master Join command
    set_fact:
      master_join_command: "{{ master_join_command_raw.stdout_lines[0] }}"
  
  # CLEAN UP ---------------------------------------------------------------------------------
  - name: Display workers join command.
    ansible.builtin.debug:
      msg: "{{ worker_join_command }}"

  - name: Display master join command.
    ansible.builtin.debug:
      msg: "{{ master_join_command }}"      


# OTHER MASTER NODES -------------------------------------------------------------------------
# PLAYBOOK CONFIG ----------------------------------------------------------------------------
- hosts: master_nodes
  become: true
  gather_facts: true
  
  # VAR PROMPTS ------------------------------------------------------------------------------

  # vars_prompt:
  #  - name: "var_name"
  #    prompt: "User prompt? change me..."
  #    private: false # should this be visible or hidden like a password
     
  # TASKS ------------------------------------------------------------------------------------
  tasks:

  # PRE-FLIGHT CHECKS ------------------------------------------------------------------------
  - name: Pre-flight check, fail if OS is not Ubuntu.
    when: ansible_distribution != "Ubuntu" and ansible_distribution != "RedHat"
    fail:
      msg: "This script is designed for Ubuntu"

  # PRE-CONFIG -------------------------------------------------------------------------------
  - name: Whoami on the node?
    become: false
    shell: whoami
    register: node_username_raw

  - name: Set whoami on the node as a fact.
    set_fact:
      node_username: "{{ node_username_raw.stdout_lines[0] }}"

  - name: Ensure the initializing master node is reachable by workers.
    wait_for: "host={{ groups['initializing_master_node'][0] }} port=6443 timeout=1"

  # BEGIN ------------------------------------------------------------------------------------
  - name: Create logs folder
    become: false
    file:
      path: "/home/{{ node_username }}/logs"
      state: directory

  - name: Join the cluster as a control-plane.
    shell: "{{ hostvars[groups['initializing_master_node'][0]].master_join_command }} >> /home/{{ node_username }}/logs/node_joined.log"
    args:
      chdir: "/home/{{ node_username }}"
      creates: logs/node_joined.log

  # CLEAN UP ---------------------------------------------------------------------------------
  # 


# WORKER NODES -------------------------------------------------------------------------------
# PLAYBOOK CONFIG ----------------------------------------------------------------------------
- hosts: worker_nodes
  become: true
  gather_facts: true
  
  # VAR PROMPTS ------------------------------------------------------------------------------

  # vars_prompt:
  #  - name: "var_name"
  #    prompt: "User prompt? change me..."
  #    private: false # should this be visible or hidden like a password
     
  # TASKS ------------------------------------------------------------------------------------
  tasks:

  # PRE-FLIGHT CHECKS ------------------------------------------------------------------------
  - name: Pre-flight check, fail if OS is not Ubuntu.
    when: ansible_distribution != "Ubuntu" and ansible_distribution != "RedHat"
    fail:
      msg: "This script is designed for Ubuntu"

  # PRE-CONFIG -------------------------------------------------------------------------------
  - name: Whoami on the node?
    become: false
    shell: whoami
    register: node_username_raw

  - name: Set whoami on the node as a fact.
    set_fact:
      node_username: "{{ node_username_raw.stdout_lines[0] }}"

  - name: Ensure the initializing master node is reachable by workers.
    wait_for: "host={{ groups['initializing_master_node'][0] }} port=6443 timeout=1"

  # BEGIN ------------------------------------------------------------------------------------
  - name: Create logs folder
    become: false
    file:
      path: "/home/{{ node_username }}/logs"
      state: directory

  - name: Join the cluster as a worker node.
    shell: "{{ hostvars[groups['initializing_master_node'][0]].worker_join_command }} >> /home/{{ node_username }}/logs/node_joined.log"
    args:
      chdir: "/home/{{ node_username }}"
      creates: logs/node_joined.log

  # CLEAN UP ---------------------------------------------------------------------------------
  # 