##
# Copyrights:  2025 Codoworks.com
# Author:      Dexter Codo
# Website:     https://dexterexplains.com 
# Contact:     hello@dexterexplains.com
# Project:     Kubernetes Installer
##

# PLAYBOOK CONFIG ----------------------------------------------------------------------------
- hosts: initializing_master_node
  become: true
  gather_facts: true

  # VAR PROMPTS ------------------------------------------------------------------------------

  # vars_prompt:
  #  - name: "var_name"
  #    prompt: "User prompt? change me..."
  #    private: false # should this be visible or hidden like a password
     
  # TASKS ------------------------------------------------------------------------------------
  tasks: 
  # PRE-FLIGHT CHECKS ------------------------------------------------------------------------
  - name: Pre-flight check, fail if OS is not Ubuntu.
    when: ansible_distribution != "Ubuntu" and ansible_distribution != "RedHat"
    fail:
      msg: "This script is designed for Ubuntu"

  # PRE-CONFIG -------------------------------------------------------------------------------
  - name: Whoami on the node?
    become: false
    shell: whoami
    register: node_username_raw

  - name: Set whoami on the node as a fact.
    set_fact:
      node_username: "{{ node_username_raw.stdout_lines[0] }}"

  # BEGIN ------------------------------------------------------------------------------------
  - name: Add Traefik Helm Repo
    become: false
    shell: helm repo add traefik https://traefik.github.io/charts

  - name: Update Helm Repo
    become: false
    shell: helm repo update

  - name: Pull traefik helm chart
    become: false
    shell: helm pull traefik/traefik  --version {{ traefik_version }} --untar
    args:
      chdir: "/home/{{ node_username }}/helm-charts"

  - name: Update config traefik helm chart
    become: false
    shell: |
      yq -i '.deployment.kind = "DaemonSet"' helm-charts/traefik/values.yaml
      yq -i '.service.externalIPs += {{ worker_ips | to_nice_json }}' helm-charts/traefik/values.yaml

    vars:
      worker_ips: "{{ groups['worker_nodes'] | map('extract', hostvars, 'inventory_hostname') | list }}"

  - name: Install traefik helm chart
    become: false
    shell: helm install traefik ./helm-charts/traefik --namespace traefik --create-namespace --values ./helm-charts/traefik/values.yaml
      
  # CLEAN UP ---------------------------------------------------------------------------------