##
# Copyrights:  2025 Codoworks.com
# Author:      Dexter Codo
# Website:     https://dexterexplains.com 
# Contact:     hello@dexterexplains.com
# Project:     Kubernetes Installer
##

# PLAYBOOK CONFIG ----------------------------------------------------------------------------
- hosts: ha_proxy_node
  become: true
  gather_facts: true

  # VAR PROMPTS ------------------------------------------------------------------------------

  # vars_prompt:
  #  - name: "var_name"
  #    prompt: "User prompt? change me..."
  #    private: false # should this be visible or hidden like a password
     
  # TASKS ------------------------------------------------------------------------------------
  tasks: 
  # PRE-FLIGHT CHECKS ------------------------------------------------------------------------
  - name: Pre-flight check, fail if OS is not Ubuntu.
    when: ansible_distribution != "Ubuntu" and ansible_distribution != "RedHat"
    fail:
      msg: "This script is designed for Ubuntu"

  # PRE-CONFIG -------------------------------------------------------------------------------
  - name: Whoami on the node?
    become: false
    shell: whoami
    register: node_username_raw

  - name: Set whoami on the node as a fact.
    set_fact:
      node_username: "{{ node_username_raw.stdout_lines[0] }}"

  - name: Ensure dependency packages required for HA Proxy are installed.
    when: ansible_distribution == "Ubuntu"
    apt:
      name: 
        - software-properties-common 
      state: latest

  # BEGIN ------------------------------------------------------------------------------------
  
  # - name: Add Kubernetes APT repository.
  #   apt_repository:
  #     repo: "ppa:vbernat/haproxy-{{ ha_proxy_apt_pkg_version }}"
  #     state: present
  #     update_cache: true

  # - name: Full system update.
  #   apt:
  #     update_cache: true
  #     upgrade: dist
  #     cache_valid_time: 3600
  #     force_apt_get: true

  - name: Install HA Proxy packages.
    when: ansible_distribution == "Ubuntu"
    apt:
      name: 
        - haproxy={{ ha_proxy_version }}
      state: present

  - name: Install specific HAProxy version using DNF
    when: ansible_distribution == "RedHat"
    dnf:
      name: "haproxy"
      state: present

  - name: Configure HA Proxy.
    when: ansible_distribution == "Ubuntu"
    lineinfile:
      dest: /etc/default/haproxy
      regexp: "^ENABLED.+$"
      line: "ENABLED=1"
      state: present

  - name: Backup default configuration files
    shell: "mv /etc/haproxy/haproxy.cfg /etc/haproxy/default-config.backup"

  - name: Create an empty config file
    copy:
      content: ""
      dest: /etc/haproxy/haproxy.cfg
      force: false

  - name: Init haproxy config
    when: ansible_distribution == "Ubuntu"
    blockinfile:
      path: /etc/haproxy/haproxy.cfg
      block: |
            global
              log /dev/log local0
              log /dev/log local1 notice
              chroot /var/lib/haproxy
              stats socket /run/haproxy/admin.sock mode 660 level admin
              stats timeout 30s
              user haproxy
              group haproxy
              daemon
            
            defaults
              log global
              mode http
              option httplog
              option dontlognull
              timeout connect 5000
              timeout client  50000
              timeout server  50000
              errorfile 400 /etc/haproxy/errors/400.http
              errorfile 403 /etc/haproxy/errors/403.http
              errorfile 408 /etc/haproxy/errors/408.http
              errorfile 500 /etc/haproxy/errors/500.http
              errorfile 502 /etc/haproxy/errors/502.http
              errorfile 503 /etc/haproxy/errors/503.http
              errorfile 504 /etc/haproxy/errors/504.http
            
            frontend kubernetes-api
              bind *:6443
              mode tcp
              default_backend kubernetes-masters
            
            backend kubernetes-masters
              mode tcp
              balance roundrobin
            {% for host in groups['k8s_masters'] %}
              server {{ hostvars[host].inventory_hostname }} {{ hostvars[host].ansible_host | default(host) }}:6443 check
            {% endfor %}

  - name: Init haproxy config
    when: ansible_distribution == "RedHat"
    blockinfile:
      path: /etc/haproxy/haproxy.cfg
      block: |
        #---------------------------------------------------------------------
        # Example configuration for a possible web application.  See the
        # full configuration options online.
        #
        #   https://www.haproxy.org/download/1.8/doc/configuration.txt
        #
        #---------------------------------------------------------------------
        
        #---------------------------------------------------------------------
        # Global settings
        #---------------------------------------------------------------------
        global
            # to have these messages end up in /var/log/haproxy.log you will
            # need to:
            #
            # 1) configure syslog to accept network log events.  This is done
            #    by adding the '-r' option to the SYSLOGD_OPTIONS in
            #    /etc/sysconfig/syslog
            #
            # 2) configure local2 events to go to the /var/log/haproxy.log
            #   file. A line like the following can be added to
            #   /etc/sysconfig/syslog
            #
            #    local2.*                       /var/log/haproxy.log
            #
            log         127.0.0.1 local2
        
            chroot      /var/lib/haproxy
            pidfile     /var/run/haproxy.pid
            maxconn     4000
            user        haproxy
            group       haproxy
            daemon
        
            # turn on stats unix socket
            stats socket /var/lib/haproxy/stats
        
            # utilize system-wide crypto-policies
            ssl-default-bind-ciphers PROFILE=SYSTEM
            ssl-default-server-ciphers PROFILE=SYSTEM
        
        #---------------------------------------------------------------------
        # common defaults that all the 'listen' and 'backend' sections will
        # use if not designated in their block
        #---------------------------------------------------------------------
        defaults
            mode                    http
            log                     global
            option                  httplog
            option                  dontlognull
            option http-server-close
            option forwardfor       except 127.0.0.0/8
            option                  redispatch
            retries                 3
            timeout http-request    10s
            timeout queue           1m
            timeout connect         10s
            timeout client          1m
            timeout server          1m
            timeout http-keep-alive 10s
            timeout check           10s
            maxconn                 3000
        
        #---------------------------------------------------------------------
        # main frontend which proxys to the backends
        #---------------------------------------------------------------------
        frontend kubernetes_masters
            mode tcp
            bind *:6443
            default_backend             kubernetes_masters
        
        #---------------------------------------------------------------------
        # static backend for serving up images, stylesheets and such
        #---------------------------------------------------------------------
        # backend static
        #     balance     roundrobin
        #     server      static 127.0.0.1:4331 check
        
        #---------------------------------------------------------------------
        # round robin balancing between the various backends
        #---------------------------------------------------------------------
        backend kubernetes_masters
            mode tcp
            balance     roundrobin
            {% for host in groups['k8s_masters'] %}
            server {{ hostvars[host].inventory_hostname }} {{ hostvars[host].ansible_host | default(host) }}:6443 check
            {% endfor %}

  - name: Disable selinux in RedHat
    when: ansible_distribution == "RedHat"
    shell: | 
      setenforce 0
      sed -i --follow-symlinks 's/SELINUX=enforcing/SELINUX=permissive/g' /etc/sysconfig/selinux

  - name: Ensure firewalld is stopped
    when: ansible_distribution == "RedHat"
    ansible.builtin.systemd:
      name: firewalld
      state: stopped

  - name: Disable firewalld from starting on boot
    when: ansible_distribution == "RedHat"  
    ansible.builtin.systemd:
      name: firewalld
      enabled: no

  - name: Mask firewalld to prevent manual or dependency-based restart
    when: ansible_distribution == "RedHat"  
    ansible.builtin.systemd:
      name: firewalld
      masked: yes

  - name: Enable and start haproxy service.
    systemd: 
      name: haproxy
      enabled: true
      state: restarted
      daemon-reload: true

  # CLEAN UP ---------------------------------------------------------------------------------