##
# Copyrights:  2025 Codoworks.com
# Author:      Dexter Codo
# Website:     https://dexterexplains.com 
# Contact:     hello@dexterexplains.com
# Project:     Kubernetes Installer
##

# PLAYBOOK CONFIG ----------------------------------------------------------------------------
- hosts: ha_proxy_node
  become: true
  gather_facts: true

  # VAR PROMPTS ------------------------------------------------------------------------------

  # vars_prompt:
  #  - name: "var_name"
  #    prompt: "User prompt? change me..."
  #    private: false # should this be visible or hidden like a password
     
  # TASKS ------------------------------------------------------------------------------------
  tasks: 
  # PRE-FLIGHT CHECKS ------------------------------------------------------------------------
  - name: Pre-flight check, fail if OS is not Ubuntu.
    when: ansible_distribution != "Ubuntu"
    fail:
      msg: "This script is designed for Ubuntu"

  # PRE-CONFIG -------------------------------------------------------------------------------
  - name: Whoami on the node?
    become: false
    shell: whoami
    register: node_username_raw

  - name: Set whoami on the node as a fact.
    set_fact:
      node_username: "{{ node_username_raw.stdout_lines[0] }}"

  - name: Ensure dependency packages required for HA Proxy are installed.
    apt:
      name: 
        - software-properties-common 
      state: latest

  # BEGIN ------------------------------------------------------------------------------------
  
  # - name: Add Kubernetes APT repository.
  #   apt_repository:
  #     repo: "ppa:vbernat/haproxy-{{ ha_proxy_apt_pkg_version }}"
  #     state: present
  #     update_cache: true

  # - name: Full system update.
  #   apt:
  #     update_cache: true
  #     upgrade: dist
  #     cache_valid_time: 3600
  #     force_apt_get: true

  - name: Install HA Proxy packages.
    apt:
      name: 
        - haproxy={{ ha_proxy_version }}
      state: present

  - name: Configure HA Proxy.
    lineinfile:
      dest: /etc/default/haproxy
      regexp: "^ENABLED.+$"
      line: "ENABLED=1"
      state: present

  - name: Enable and start haproxy service.
    systemd: 
      name: haproxy
      state: restarted
      enabled: true
      daemon-reload: true

  - name: Backup default configuration files
    shell: "mv /etc/haproxy/haproxy.cfg /etc/haproxy/default-config.backup"

  - name: Create an empty config file
    copy:
      content: ""
      dest: /etc/haproxy/haproxy.cfg
      force: false

  - name: Init haproxy config
    blockinfile:
      path: /etc/haproxy/haproxy.cfg
      block: |
            global
              log /dev/log local0
              log /dev/log local1 notice
              chroot /var/lib/haproxy
              stats socket /run/haproxy/admin.sock mode 660 level admin
              stats timeout 30s
              user haproxy
              group haproxy
              daemon
            
            defaults
              log global
              mode http
              option httplog
              option dontlognull
              timeout connect 5000
              timeout client  50000
              timeout server  50000
              errorfile 400 /etc/haproxy/errors/400.http
              errorfile 403 /etc/haproxy/errors/403.http
              errorfile 408 /etc/haproxy/errors/408.http
              errorfile 500 /etc/haproxy/errors/500.http
              errorfile 502 /etc/haproxy/errors/502.http
              errorfile 503 /etc/haproxy/errors/503.http
              errorfile 504 /etc/haproxy/errors/504.http
            
            frontend kubernetes-api
              bind *:6443
              mode tcp
              default_backend kubernetes-masters
            
            backend kubernetes-masters
              mode tcp
              balance roundrobin
              server master1 192.168.1.33:6443 check
              server master2 192.168.1.34:6443 check
              server master3 192.168.1.35:6443 check

  - name: Enable and start haproxy service.
    systemd: 
      name: haproxy
      state: restarted

  # CLEAN UP ---------------------------------------------------------------------------------